@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    box-sizing: border-box;
}


h1 {
    font-family: 'Protest Riot', sans-serif;
    font-size: 5rem;
    color: #000000;
} 


body {
    font-family: sans-serif;
    background-color: white;
    background-image: url(images/food-dwc-spread.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

ul {
    list-style: none;
}

.recipe {
    display: flex;
    margin-top: 20px;
}

.recipe input {
    width: 500px;
    position: relative;
    display: flex;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
}


.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

#searchBtn {
    border: none;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    padding: 14px 24px;
    text-align: center;
    cursor: pointer;
}


h6 {
        display: flex;
        text-align: centre;
        background-color: rgba(51, 46, 46, 0.534);
        margin-top: 60px;
        font-size: xx-large;
        color: white;
    }

.row {
    display: flex;
    margin-top: 60px;
}

#recipe-row,
#recipeInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.backBtn {
    border: none;
    background-color: white;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
    display: flex;
    font-size: 12px;
    line-height: 22px;
    padding: 14px 24px;
    text-align: center;
    cursor: pointer;
    margin-top: 40px;
}

.h4 {
    width: 500px;
    max-width: 50%;
    position: relative;
    display: flex;
    outline: none;
    padding: 16px 140px 16px 15px;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
} 

/* styling the carousel */
.carousel.slide {
    
    display: flex;
    margin-top: 10px;
    width: 800px;
}

.carousel-caption.d-none.d-md-block h5 {
    color: black;
}

.carousel-caption.d-none.d-md-block p {
    color: black;
}

h5.card-title {
    color: rgb(40, 59, 7);
    weight: bold;
}

#popularRecipes{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    background-color: rgba(0, 0, 0, 0.377);
}

.carousel.slide {
    display: flex;
    margin-top: 40px;
    width: 800px;
}
.carousel-caption.d-none.d-md-block h5 {
    color: black;
}
.carousel-caption.d-none.d-md-block p {
    color: black;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
    .recipe input {
        width: 300px;
        padding: 16px 40px 16px 15px;
    }
    ::placeholder {
        font-size: 10px;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 2rem;
    }
    .recipe input {
        width: 300px;
        padding: 16px 40px 16px 15px;
    }
    ::placeholder {
        font-size: 10px;
    }
}